.search-input-container {
  display: flex;
  align-items: center;
  background-color: #ffffff52;
  /* Example background color */
  border-radius: 20px;
  /* Example rounded corners */
  padding: 5px 10px;
  /* Example padding */
}

.search-input {
  border: none;
  background: transparent;
  padding: 8px;
  font-size: 16px;
  color: #FFF;
  /* Example text color */
  outline: none;
  flex-grow: 1;
  /* Allows the input to take up available space */
}

.search-input::placeholder {
  color: #FFF;
  /* Example placeholder color */
}

.search-button {
  background: transparent;
  border: none;
  padding: 8px;
  outline: none;
}

.search-button svg {
  width: 24px;
  height: 24px;
  fill: #FFF;
  /* Example icon color */
}

#resultado {
  /*width: 94%;*/
  height: 285px;
  border: 1px solid #E4E4E4;
  border-radius: 10px 0 0 0;
  background-color: #FFF;
  display: none;
  position: absolute;
  margin-top: 7px;
  z-index: 999;
  overflow-x: auto;
  color: #000000;
}

#resultadoMobile {
  width: 85%;
  height: 285px;
  border: 1px solid #E4E4E4;
  border-radius: 10px 0 0 0;
  background-color: #FFF;
  display: none;
  position: absolute;
  margin-top: 7px;
  z-index: 999;
  overflow-x: auto;
  color: #000000;
}
#btn-busca-resultado{
  position: absolute;
  z-index: 999;
  width: 94%;
  margin-top: 265px;
}
#btn-busca-resultadoMobile {
  position: absolute;
  z-index: 999;
  width: 85%;
  margin-top: 265px !important;
}

button.btn.btn-info.w-100 {
  width: 106% !important;
}

#resultado .resultadoItem,
#resultadoMobile .resultadoItem {
  /*border-bottom: 1px solid #17171754;*/
  padding: 20px !important;
}

#resultado .resultadoItem:hover,
#resultadoMobile .resultadoItem:hover {
  background-color: #f4f4f4;
}

.resultadoItem:last-child {
  margin-bottom: 20px;
}


#resultado .resultadoItem:nth-of-type(1),
#resultadoMobile .resultadoItem:nth-of-type(1) {
  padding-top: 0;
}

#resultado .resultadoItem:last-of-type,
#resultadoMobile .resultadoItem:last-of-type {
  border: 0;
  padding-bottom: 0;
}

#resultado .resultadoItem .resultadoTitulo,
#resultadoMobile .resultadoItem .resultadoTitulo {
  color: #000;
}

#resultado .resultadoItem span,
#resultadoMobile .resultadoItem span {
  color: #17171754;
}

#resultado .resultadoItem span span,
#resultadoMobile .resultadoItem span span {
  color: #008FBE;
  font-weight: 600;
}

#resultado .resultadoItem span.destaque {
  background-color: #ededed;
  color: #acacac;
  padding: 2px 8px;
  border-radius: 100px;
  margin-left: 8px;
}


#resultado .resultadoItem span.destaque,
#resultadoMobile .resultadoItem span.destaque {
  background-color: #ededed;
  color: #acacac;
  padding: 2px 8px;
  border-radius: 100px;
  margin-left: 8px;
}

#resultado .resultadoTitulo a,
#resultadoMobile .resultadoTitulo a {
  color: #000;
}

#resultado .resultadoTitulo a:hover,
#resultadoMobile .resultadoTitulo a:hover {
  color: #008FBE;
}